body {
    background-color:#f5f2ea ;
    padding: 0 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

h1{
    border-bottom: 1px solid grey;
    display: inline-block;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    font-family: 'Kanit', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin: 0 auto;
}

.container {
    background-color: #ffffff;
    border-radius: 1rem;
    min-width: 350px;
    width: 50%;
    max-width: 500px;
    min-height: 700px;
    padding:0 2rem;
}

.container header {
    text-align: center; 
}
.container header h2{
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.container header h3{
    margin-bottom: 0.2rem;
    font-weight: 200;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
}

.setting {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.sub-label {
    font-size: 0.9rem;
    font-weight: 200;
}

input[type="text"] {
    border: 1px solid #000000;
    padding: 0.35rem 0.85rem 0.35rem 0.4rem;
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 0.3rem;
    font-family: 'Work Sans', sans-serif;
}

input[type="text"]:focus {
    border: 1px solid #dea764;
    outline: none;
}
.colors {
    display: flex;
    justify-content: space-around;
}

colors.setting {
    align-items: center;
    text-align: center;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    padding: 0.2rem;
    cursor: pointer;
}

input[type='color']:focus {
    outline: none;
    border: 2px solid #dea764;
    border-radius: 2px;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
}

::-moz-color-swatch {
    border: 1px solid #000000;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #d9d9d9;
    outline: none;
    padding: 0;
    margin: 0.5rem 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fdc886;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
background: #dea764;
}

input[type='range']:active::-webkit-slider-thumb {
    background: #dea764;
    }
    input[type='range']::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        background: #fdc886;
        cursor: pointer;
        -moz-transition: background 0.15s ease-in-out;
        transition: background 0.15s ease-in-out;
    }
    input[type='range']::-moz-range-thumb:hover {
        background: #dea764;
    }
    input[type='range']:active::-moz-range-thumb {
        background: #dea764;
    }
    input[type='range']:focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px #fff, 0 0 0 5px #dea764;
    }
    
    ::-moz-range-track {
        background: #d7dcdf;
        border: 0;
    }
    
    input::-moz-focus-inner,
    input::-moz-focus-outer {
        border: 0;
    }
    input[type="radio"] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding: 2px;
        background-clip: content-box;
        border: 1px solid #fdc886;
        background-color: #ffffff;
        border-radius: 50%;
    }

    input[type="radio"]:checked {
background-color: #fdc886;
    }

    input[type="radio"]:focus {
        outline: none;
        background-color: #dea764;
        border: 2px solid #dea764;
            }

            fieldset {
                display: flex;
                flex-wrap: wrap;
                border: none;
                margin: 0;
                justify-content: space-between
            }

            fieldset legend {
                margin-bottom: 0.5rem;
            }

            fieldset.div {
                border: 1px solid #000000;
                border-radius: 0.3rem;
                display: flex;
                align-items: center;
                padding: 0.25rem 0.5rem;
                margin-right: 0.25rem;
                margin-bottom: 0.5rem;
            }

            fieldset.div:last-child {
                margin-right: 0;
            }
fieldset.div input {
    margin-right: 0.5rem;
    cursor: pointer;
}

fieldset.div label {
    margin-right: 0.5rem;
    cursor: pointer;
}

button {
    background-color: #fdc886;
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    border-radius: 0.3rem;
    margin: 0.5rem auto 1.5rem;
    border: 2px solid #fdc886;
    line-height: 1.1rem
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

button:hover {
    transform: translateY(-0.2rem)
    transition: all 0.15s ease-in-out;
}

button:active {
    background-color: #dea764;
    border: 2px solid #dea764;
    transition: all 0.15s ease-in-out;
}

button:focus {
    outline: none;
    border: 2px solid #dea764;
}

button:disabled {
    outline: none;
    transition: none;
    transform: none;
    cursor: not-allowed;
}

.cta {
    display: flex;
}